<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="login-container" style="background-color: #fff; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); padding: 30px;">
        <h2 class="text-center" style="color: #000000;">Sign-Up</h2>
        <form action="/signup" method="post">
            <div class="form-group">
            <label style="color: #000000;">Enter Name</label>
            <input type="text" class="form-control" name="Name" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label style="color: #000000;">Email address</label>
            <input type="email" class="form-control" name="Email" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label style="color: #000000;">Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Password">
          </div>
          <a href="/login" style="color: #007bff;">Already have account ?</a>
            <div class="text-center">
            <button type="submit" class="btn btn-primary" style="background-color: #007bff; border: none;">Sign-Up</button>
        </form>
      </div>
    </div>
  </div>
</div>